/* En tu archivo Footer.css */
.footer {
    background-color: #1f2937;
    padding: 1.5rem;
    text-align: center;
    color: #ffffff;
    font-size: 14px;
  }
  
  .footer p {
    margin: 0;
  }  
  
  