/* En tu archivo GameList.css */
.game-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
  }
  
  /* Estilo para el mensaje cuando no hay juegos disponibles */
  .no-games {
    font-size: 18px;
    color: #555;
    text-align: center;
    margin-top: 20px;
  }
  