/* En tu archivo Navbar.css */
.navbar {
  background-color: #1f2937;
  padding: 1.5rem;
  text-align: center; /* Alinea el texto al centro */
}

.navbar a {
  color: #ffffff;
  text-decoration: none;
  margin: 0 15px; /* Ajusta el margen para separar los enlaces */
  font-size: 16px;
}

.navbar a:hover {
  border-bottom: 2px solid #ffffff;
}


  